.navbar {
    padding: 0;
}

.navlink {
    text-decoration: none;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #47b2e4;
}

.navbar .getstarted,
.navbar .getstarted:focus {
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
    color: #fff;
    background: #31a9e1;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    color: #0c3c53;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #47b2e4;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile_nav_toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile_nav_toggle .bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile_nav_toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar_mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(40, 58, 90, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar_mobile .mobile_nav_toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar_mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar_mobile a,
.navbar_mobile a:focus {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s;
    padding: 10px 20px;
    font-size: 15px;
    color: #37517e;
}

.navbar_mobile a:hover,
.navbar_mobile .active,
.navbar_mobile li:hover > a {
    color: #47b2e4;
}

.navbar_mobile .getstarted,
.navbar_mobile .getstarted:focus {
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
    background-color: #1e8102;
    margin: 15px;
    color: #ffffff;
}

.navbar_mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}

.navbar_mobile .dropdown ul li {
    min-width: 200px;
}

.navbar_mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar_mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar_mobile .dropdown ul a:hover,
.navbar_mobile .dropdown ul .active:hover,
.navbar_mobile .dropdown ul li:hover > a {
    color: #47b2e4;
}

.navbar_mobile .dropdown > .dropdown_active {
    display: block;
}