.card_div {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.card_image {
    border-radius: 5px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.card_data {
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .card_body {
        display: flex;
        flex-flow: row wrap;
        padding: 15px;
    }
}

.card_title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.card_foot {
    display: flex;
    flex-direction: row;
}

.foot_text {
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 400;
    color: #494949;
    margin-bottom: 10px;
    padding-right: 1rem;
}

@media screen and (max-width: 480px) {
    .card_title {
        text-align: center;
        font-size: 1rem;
        color: #000;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .card_foot {
        display: flex;
        flex-direction: column;
    }

    .foot_text {
        font-size: 0.8rem;
        color: #494949;
        margin-bottom: 10px;
    }
}
