.clients {
    padding: 12px 0;
    text-align: center;
}

.clients img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.clients img:hover {
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .clients img {
        max-width: 40%;
    }
}
.arab_bg {
    animation: ubahbgarab 7s infinite;
    background-color: #dcbe06;
}

@keyframes ubahbgarab {
    0% {
        background-color: #dcbe06;
    }
    50% {
        background-color: #1e8102;
    }
    100% {
        background-color: #dcbe06;
    }
}

.animated_arab {
    position: relative;
    font-family: 'Amiri', serif;
    font-size: 5vw;
    color: #fff;
    margin: auto;
    padding: 15px;
    line-height: 1.3;
}

.animated_arab::after {
    content: "|";
    color: #fff;
    font-weight: bold;
    animation: ngetik 0.5s ease-in-out infinite;
    margin-right: 5px;
}

@keyframes ngetik {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}