.cta h3 {
    color: #151515;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #0c0c0c;
}

.cta .cta_btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #228f03;
    background-color: #1e8102;
    color: #ffffff;
}

.cta .cta_btn:hover {
    background: #033085;
    border: 2px solid #023cab;
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta_btn_container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}