@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.faq .faq_list {
    padding: 0 100px;
}

.faq .faq_list ul {
    padding: 0;
    list-style: none;
}

.faq .faq_list li + li {
    margin-top: 15px;
}

.faq .faq_list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: relative;
}

.faq .faq_list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
    color: #37517e;
    text-decoration: none;
}

.faq .faq_list .icon_help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #47b2e4;
}

.faq .faq_list .icon_show,
.faq .faq_list .icon_close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq_list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq_list .icon_show {
    display: none;
}

.faq .faq_list a.collapsed {
    color: #37517e;
    transition: 0.3s;
}

.faq .faq_list a.collapsed:hover {
    color: #47b2e4;
}

.faq .faq_list a.collapsed .icon_show {
    display: inline-block;
}

.faq .faq_list a.collapsed .icon_close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq_list {
        padding: 0;
    }
}