.services .icon_box {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
}

.services .icon_box .icon {
    margin-bottom: 10px;
}

.services .icon_box .icon i {
    color: #47b2e4;
    font-size: 36px;
    transition: 0.3s;
}

.services .icon_box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
    color: #37517e;
    transition: ease-in-out 0.3s;
}

.services .icon_box h4 a {
    color: #37517e;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

.services .icon_box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.services .icon_box:hover {
    transform: translateY(-10px);
}

.services .icon_box:hover h4 a {
    text-decoration: none;
    color: #47b2e4;
}

.services .program_box {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 20px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
}

.services .program_box:hover {
    transform: translateY(-10px);
}

.services .program_box h4 {
    font-weight: 500;
    font-size: 24px;
    color: #37517e;
    transition: ease-in-out 0.3s;
}

.services .program_box:hover h4 {
    color: #47b2e4;
}