.hero {
    width: 100%;
    height: 80vh;
    background: #37517e;
}

.container {
    padding-top: 72px;
}

.h1 {
    margin: 0 0 10px 0;
    font-size: 43px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

.btn_get_started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
}

.btn_get_started:hover {
    background: #209dd8;
}

.btn_watch_video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
}

.btn_watch_video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
}

.btn_watch_video:hover i {
    color: #47b2e4;
}

.animated {
    animation: up_down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    .hero{
        height: 100vh;
        text-align: center;
    }

    .hero_img {
        text-align: center;
    }

    .hero_img img {
        width: 50vw;
        height: 50vh;
    }

    .animated {
        animation: up_down 2s ease-in-out infinite alternate-reverse both;
    }
}

@media (max-width: 768px) {
    .h1 {
        font-size: 28px;
        line-height: 36px;
        font-family: 'Montserrat', sans-serif;
    }

    .h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .hero_img img {
        width: 350px;
        height: 350px;
    }

    .animated {
        animation: up_down 2s ease-in-out infinite alternate-reverse both;
    }
}

@media (max-width: 575px) {

    .btn_get_started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }

    .animated {
        animation: up_down 2s ease-in-out infinite alternate-reverse both;
    }
}


@-webkit-keyframes up_down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up_down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}