.why_us .content {
    padding: 60px 100px 0 100px;
}

.why_us .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}

.why_us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.why_us .content p {
    font-size: 15px;
    color: #848484;
}

.why_us .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.why_us .accordion_list {
    padding: 0 100px 60px 100px;
}

.why_us .accordion_list ul {
    padding: 0;
    list-style: none;
}

.why_us .accordion_list li + li {
    margin-top: 15px;
}

.why_us .accordion_list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.why_us .accordion_list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.why_us .accordion_list span {
    color: #47b2e4;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.why_us .accordion_list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.why_us .accordion_list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.why_us .accordion_list .icon_show {
    display: none;
}

.why_us .accordion_list a.collapsed {
    color: #343a40;
}

.why_us .accordion_list a.collapsed:hover {
    color: #47b2e4;
}

.why_us .accordion_list a.collapsed .icon_show {
    display: inline-block;
}

.why_us .accordion_list a.collapsed .icon_close {
    display: none;
}

@media (max-width: 1024px) {

    .why_us .content,
    .why_us .accordion_list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .why_us .img {
        min-height: 400px;
    }

    .why_us .content {
        padding-top: 30px;
    }

    .why_us .accordion_list {
        padding-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .why_us .img {
        min-height: 200px;
    }
}